/*

  ____\/\\\_________/\\\____/\\\\\\\\\\\\______
  ____\/\\\_______ /\\\____/\\\/////////\\_____
  ____\//\\\______/\\\____\//\\\______\///_____
  _____\//\\\____/\\\______\////\\\____________
  ______\//\\\__/\\\__________\////\\\_________
  _______\//\\\/\\\______________\////\\\______
  ________\//\\\\\________/\\\______\//\\\_____
  _________\//\\\________\///\\\\\\\\\\\/______
  __________\///__________\////////////________

  TITLE:    Styles for MQtest.io
  AUTHOR:   @viljamis
  VERSION:  0.1

  MEMO FOR CONVERSIONS:
  75%       =   12px, percentage(12 / 16)
  81.25%    =   13px, percentage(13 / 16)
  87.5%     =   14px, percentage(14 / 16)
  93.75%    =   15px, percentage(15 / 16)
  100%      =   16px, percentage(16 / 16)
  106.25%   =   17px, percentage(17 / 16)
  112.5%    =   18px, percentage(18 / 16)
  118.75%   =   19px, percentage(19 / 16)
  125%      =   20px, percentage(20 / 16)
  131.25%   =   21px, percentage(21 / 16)
  137.5%    =   22px, percentage(22 / 16)

*/

// Compass
@import "compass/css3";
@import "reset.scss";

// Font-face
@font-face {
  font-family: 'ProximaNova-Extrabld-Custom';
  src: url('../fonts/proxima-custom-webfont.eot');
  src: url('../fonts/proxima-custom-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proxima-custom-webfont.woff') format('woff'),
       url('../fonts/proxima-custom-webfont.ttf') format('truetype'),
       url('../fonts/proxima-custom-webfont.svg#webfontuploaded_file') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Mixins
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin prevent-bleed {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

@mixin prevent-text-size-adjust {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

// Colors
$color-white: #fff;
$color-blue: #103642;
$color-blue-alt: #3ca5ca;
$color-blue-alt2: #0e455a;
$color-black: #06202a;

// Type
$font-tiny-screen: sans-serif;
$font-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-proxima: "ProximaNova-Extrabld-Custom", sans-serif;

/* BASE
--------------------------------------------- */

@-ms-viewport { width: device-width }
@viewport { width: device-width }

html {
  -webkit-font-smoothing: antialiased;
  @include prevent-text-size-adjust;
  background: $color-black;
  min-width: 200px;
}

body {
  font: normal percentage(16/16)/1.3 $font-default;
  font-size: percentage(16/16);
  margin: 7% auto;
  color: $color-white;
  max-width: 800px;
  width: 87%;
}

h1,h2,h3 {
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.125em;
  font-weight: 900;
  line-height: 1;
  a { text-decoration: none !important; }
}

h2 {
  font: bold 1.75em/1.125 $font-proxima;
  margin-bottom: .5em;
  color: $color-white;
}

p.more {
  @include hyphens(manual);
  margin-bottom: 2em;
  line-height: 1.3;
}

h3 {
  @include border-top-radius(6px);
  @include box-sizing;
  background: $color-blue-alt2;
  font-weight: 800;
  font-size: 1em;
  line-height: 1;
  margin: 2em 0 0;
  border-bottom: 0;
  padding: 1em;
  width: 100%;
}

button {
  -webkit-tap-highlight-color: rgba(255,255,255, 0.8);
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  background: $color-blue-alt;
  @include background-image(linear-gradient($color-blue-alt, darken($color-blue-alt, 20%) 100%));
  @include border-radius(6px);
  @include disable-select;
  @include prevent-bleed;
  -webkit-appearance: none;
  font-weight: bold;
  font-size: percentage(16/16);
  line-height: 1;
  color: $color-white;
  padding: 1em 0 1.1em;
  margin: 0 0 .4em;
  cursor: pointer;
  width: 100%;
  border: 0;
  &:hover {
    background: darken($color-blue-alt, 10%);
    @include background-image(linear-gradient(darken($color-blue-alt, 5%), darken($color-blue-alt, 25%) 100%));
    }
  &:active {
    background: darken($color-blue-alt, 20%);
  }
}

#iterations {
  font-weight: normal;
  display: inline;
}

#useragent {
  background: lighten($color-black, 3%);
  border: 1px solid $color-blue-alt2;
  @include border-bottom-radius(6px);
  @include prevent-bleed;
  @include box-sizing;
  width: 100%;
  padding: 1em;
  margin: 0;
}

#respondList,
.query {
  display: none;
}

ul {
  background: lighten($color-black, 3%);
  border: 1px solid $color-blue-alt2;
  @include border-bottom-radius(6px);
  @include prevent-bleed;
  @include box-sizing;
}

ul,p { margin-bottom: 1em }
em,i { font-style: italic;}
strong,b { font-weight: bold }
.nosupport { display: block }
#orientation:before { content: "not supported" }

a {
  text-decoration: none;
  color: $color-blue-alt;
  &:hover { text-decoration: underline; }
}

/* FOOTER
--------------------------------------------- */

.footer {
  font-size: percentage(14/16);
  @include hyphens(manual);
  line-height: 1.4;
  padding-bottom: 1em;
  margin-top: 2em;
  width: 100%;
}

/* TESTS
--------------------------------------------- */

@media only all {
  #respondList {
    display: block;
  }
  #respondList {
    li {
      border-bottom: 1px solid $color-blue-alt2;
      @include box-sizing;
      padding: 1em;
      width: 100%;
      margin: 0;
      &:last-child { border: 0 }
    }
    b { float: right }
  }
  .nosupport { display: none }
}

@media (orientation: portrait) {
  #orientation:before { content: "portrait" }
}

@media (orientation: landscape) {
  #orientation:before { content: "landscape" }
}

/* SCALE
--------------------------------------------- */

@media screen and (min-width: 40em) {
  body { font-size: percentage(18/16) }
}

@media screen and (min-width: 53em) {
  body { margin: 4.5em auto 2em }
  h2 { font-size: 2.25em }
}
